@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/mtp_ysujh_bn48vbg8snsonf5ufddttmlvmwujdhhgs.ttf) format('truetype');
}
